.tableScreenHeader__wrapper {
  box-sizing: border-box;

  background-color: green;
}

.tableScreenHeader__content {
  display: flex;

  padding: 0 1.25em;

  height: 4em;

  justify-content: space-between;

  align-items: center;
}

.tableScreenHeader__content {
  color: white;
}

.tableScreenHeader__button {
  padding: 0.5em 0.75em;
}
