.tableScreen__wrapper {
  padding: 0.5em;
  height: 100vh;
  box-sizing: border-box;
}

.tableScreen__body {
  height: 100%;
  display: grid;
  grid-template-areas:
    "header     categories"
    "filter     categories"
    "pagination categories"
    "article    categories";
  grid-template-columns: 1fr 1fr;

  grid-template-rows: min-content min-content min-content 1fr;

  row-gap: 1.5em;
  column-gap: 1em;
  box-sizing: border-box;
}

.tableScreen__header {
  grid-area: header;
}

.tableScreen__filter {
  grid-area: filter;
}

.tableScreen__pagination {
  grid-area: pagination;
}

.tableScreen__article {
  grid-area: article;
  overflow: hidden;
}

.tableScreen__categories {
  grid-area: categories;
  overflow: hidden;
}
