.article__content {
  box-sizing: border-box;
  max-height: 100%;
  overflow: auto;
}

.article__text {
  white-space: pre-line;
  padding: 0.75em 1em;
}

.article__marked-indicator {
  margin-left: 5px;
  color: darkred;
  text-transform: uppercase;
  font-weight: bold;
}

.article__legend {
  display: flex;
  justify-content: space-between;
}
