.filterForm__form {
  padding: 0.75em 1em;
}

.filterForm__label {
  display: inline-block;
}

.filterForm__input {
  font-family: inherit;
  font-size: inherit;
  margin-top: 0.5em;
  padding: 0.25em 0.5em;
}

.filterForm__footer {
  margin-top: 1em;
}
