.customFieldset__wrapper {
  height: 100%;

  display: grid;

  grid-template-rows: min-content auto;

  border: 2px solid lightgray;
  box-sizing: border-box;
}

.customFieldset__legend {
  background: white;
  font-weight: bold;

  padding: 0.75em 1em;

  border-bottom: 1px solid lightgray;
}

.customFieldset__content {
  overflow: hidden;
}
